{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Filtered Posts - {{ request.resolver_match.kwargs.type }}</h2>

    <div class="filtered-posts-list">
        {% for post in posts %}
            <div class="post-item">
                <a href="{% url 'post-details' pk=post.pk %}" style="text-decoration: none; color: inherit;">
                    {% include 'posts/base_post.html' %}
                </a>
            </div>
        {% endfor %}
    </div>

    {% if not posts %}
        <p style="text-align: center">No posts available for this type.</p>
    {% endif %}
{% endblock %}